@keyframes changing-color{
  0%{
    background:rgba(226, 105, 105, 0.7);
  }
  10%{
    background:rgba(51, 204, 255, 0.7);
  }
  20%{
    background:rgba(255, 204, 255, 0.7);
  }
  30%{
    background:rgba(204, 102, 0, 0.7);
  }
  40%{
    background:rgba(179, 179, 0, 0.7);
  }
  50%{
    background:rgba(102, 255, 51, 0.7);
  }
  60%{
    background:rgba(0, 153, 153, 0.7);
  }
  70%{
    background:rgba(204, 0, 102, 0.7);
  }
  80%{
    background:rgba(255, 51, 0, 0.7);
  }
  90%{
    background:rgba(255, 255, 204, 0.7);
  }
  100%{
    background:rgba(102, 51, 0, 0.7);
  }
}

@keyframes changing-color-text{
  0%{
    color:rgba(226, 105, 105, 0.7);
  }
  10%{
    color:rgba(51, 204, 255, 0.7);
  }
  20%{
    color:rgba(255, 204, 255, 0.7);
  }
  30%{
    color:rgba(204, 102, 0, 0.7);
  }
  40%{
    color:rgba(179, 179, 0, 0.7);
  }
  50%{
    color:rgba(102, 255, 51, 0.7);
  }
  60%{
    color:rgba(0, 153, 153, 0.7);
  }
  70%{
    color:rgba(204, 0, 102, 0.7);
  }
  80%{
    color:rgba(255, 51, 0, 0.7);
  }
  90%{
    color:rgba(255, 255, 204, 0.7);
  }
  100%{
    color:rgba(102, 51, 0, 0.7);
  }
}
